# This file configures how Git treats line endings.
# This is important because we're working on both Windows and Unix machines.
# For details see https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/.

# Git runs CRLF to LF replacement on files marked as `text`
# every time they are written to the object database
# and the reverse replacement when writing to the working directory.
*.c         text
*.h         text
*.py        text
*.sh        text
*.md        text
*.txt       text
*.html      text
*.json      text
*.yml       text
*.yaml      text
*.sdf       text

*.sqlite    binary
*.png       binary
*.gz        binary
*.exe       binary
*.zip       binary
*.dll       binary
*.docx      binary
*.pdf       binary