INCHI-1-TEST/**/*.so*
INCHI-1-TEST/exes
INCHI-1-TEST/data/**/*.html
INCHI-1-TEST/data/**/*.log
INCHI-1-TEST/data/pubchem/compound
INCHI-1-TEST/data/pubchem/compound3d
INCHI-1-TEST/data/pubchem/substance
INCHI-1-TEST/legacy.bak/
.listing
*.o
__pycache__
.pytest_cache
.vscode/
*.egg-info/
# Ignore core dump files
core.*[0-9]
gcc_crash_report.txt